{%extends 'main/base.html'%} {%block content%} {{block.super}}
<br>
<br>

<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col">
        follower7
    </div>
    <div class="col">follower1</div>
    <div class="col">follower2</div>
    <div class="col">follower3</div>
    <div class="col">follower4</div>
    <div class="col">follower5</div>
    <div class="col">follower6</div>
    {%for profile in profiles%}
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Profile</h5>
            <small>{{profile.bio}} </small>
            <img class="card-img-top rounded-circle img-responsive" src="{{profile.profile.url}} "alt="Card image cap"/>
            <div class="card-body">
            </div>
        </div>
    </div>
    {%endfor%}
  </div>
</div>
<br />
<br />

<div class="container" style="top: 180px; position: absolute;">
  <div class="row">
    {%for image in images%}
    <div class="col-12">
      <div class="card" style="width: 35rem;margin-bottom: 40px;">
        
        <h5 class="card-title">{{image.name}} <small style="font-style: italic;"> {{image.pub_date|date}}</small>  </h5>
 
        <img class="card-img-top img-responsive" src="{{image.image.url}} " alt="Card image cap"
        />
        <div class="card-body">
            <p class="card-text"> {{image.caption}} </p>
            <p class="card-text"> comments</p>
            <!-- <p class="card-text" style="font-style: italic;"> {{image.comments}} </p> -->
            <span> <a class="ml-1" href="{%url 'like' image.id%}">Like</a><span>
              <span><a class="ml-3" href="{% url 'comment' image.id %}">Comment</a>
            </span><br>
             
          <span class="ml-1 view" style="font-weight: bolder;" >{{image.likes}} likes</span><br>
          <a  href="{% url 'comment' image.id %}" class="ml-1 text-muted view">View all {{image.comments.count}} comments</a><br><br>
            <button>
              <a href=" {% url 'image' image.id %} ">View Image </a>
            </button>
        </div>
      </div>
    </div>
    {%endfor%}
    <br />
   
  </div>
</div>

{%endblock%}
